@charset "UTF-8";
@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root{
    --cor0: #c5ebd6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA266;
    --cor4: #1A5C37;
    --cor5: #063d1e;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', sans-serif;
    --fonte2: 'Android';
    --link: "\00a0\1F517";
}
*{
    margin: 0%;
}
body{
    margin: 0%;
    font-family: var(--fonte0);
    color: var(--cor0);
    background-color: var(--cor1);
}
header{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    text-align: center;
    height: 110px;
    padding: 10px;
}
header > h1{
    
    font-family: 'Bebas Neue';
    color: white;
    font-size:  2empx;
    margin-bottom: 30px;
}
header > p{
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
    font-family: var(--fonte0);
    
}
nav{
    background-color: var(--cor4);
    padding: 10px;
    box-shadow: 2px 3px 8px  rgba(0, 0, 0, 0.363);
}
nav > a{
    text-decoration: none;
    color: white;
    padding: 10px;  
    transition-duration: 1s;
    border-radius: 10px;
}
nav > a:hover{
    background-color: var(--cor2);
    
}
main{
    min-width: 400px;
    max-width: 800px;
    margin: auto;
    background-color: white;
    padding: 20px;
}
article > h1{
    color: var(--cor5);
    text-align: center;
    padding: 18px;
    font-size: 2em;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.514);
}
article > h2{
    background-image: linear-gradient(to right, var(--cor1), white);
    border-radius: 10px;
    color: var(--cor5);
    font: 1.5em var(--fonte2);
    margin: 10px;
    padding: 4px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.514);
}
article > p{
    color: black;
    text-align: justify;
    line-height: 2em;
}
article >p > a{
    color: var(--cor5);
    text-decoration: none;
    font-weight: bold;
    padding: 3px;
}
article p > a:hover{
    background-color: var(--cor5);
    color: white;
}
article p > a::after{
    content: var(--link)
    
}
strong{
    color: var(--cor4);
    text-shadow: 1px 1px 10px var(--cor5);
}
img{
    display: block;
    margin: auto;
}
div.video{
    position: relative;
    background-color: var(--cor4);
    height: 0px;
    margin-left: -20px;
    
    margin-bottom: 15px;
    padding-bottom: 59%;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
h1{
    font-family: var(--fonte2);
}
aside{
    color: black;
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 8px;
    
}
aside > h3{
    background-color: #2FA266;
    padding: 10px;
    margin: -10px;
    margin-bottom: 10px;
    border-radius: 10px 10px 0px 0px;
}
aside > p{
    margin: 30px;
}
ul{
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
}
footer{
    background-color: var(--cor5);
    padding: 10px;
    text-align: center;
}